/*import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia&display=swap');
:root{
    --light-gray: #2b3032a1;
    --primary-color:#45ccb8;
    --border:#2b303218;
    --text-color:#ff686b;
    --roboto:"Roboto", cursive;
    --gugi:"Gugi", cursive;
    --sofia:"Sofia", cursive;
}
.primary-color{
    color: var(--primary-color);
}
.bg-primary-color{
    background-color: var(--primary-color)!important;
}
.text-color{
    color: var(--text-color);
}

.font-roboto{
    font-family: var(--roboto);
}

.lightblue{
    color: lightblue;
}

/*header*/
header{
    background-color: var(--primary-color);
    font-family: var(--roboto);
}
header .site-title{
    font-family: var(--gugi);
}

.container .dropdown-toggle,
.container .dropdown-itme{
    font-size: 0.7em;
}

.header-links a{
    font-size: 0.9em;
    text-decoration: none;
    color: #fff;
}

/*navigation menu*/
.navbar-nav{
    padding: 0.8em 0em;
}
.navbar-nav .nav-link{
    font-size: 0.9em;
    color: var(--light-gray) !important;
}

.navbar-nav .nav-item .nav-link{
    padding: o 1.3em;
}

.navbar-nav .cart-icon{
    margin-right: 6.5rem !important;
}
.nav-link:hover{
    background-color: var(--primary-color);
    width: 110px;
    height: 5s0px;
    border-radius: 10px;
}

/** slider o0ne
.site-slider{
    position: relative;
}
.position-top{
    position: absolute;
    top: 50%;
}
 .slider-btn .prev,
 .slider-btn .next{
    background-color: var(--primary-color);
    padding: 1rem 1.5rem;
}

.right-0{
    right: 0;
    top: 30%;
}

.left-0{
    left: 0;
    top: 30%;
}

.site-slider-two{
    position: relative;
    height: 30%;
}

.site-slider-two .product{
    position: relative;
    overflow: hidden;
}

.site-slider-two .product img{

}
.sit-btn.btn-span{
    padding: 0.8rem 1.9rem;
    border-radius: 4rem;
    border: 1px solid var(--border);
    background-color: #fff;
    color: var(--light-gray);
}

.site-slider-two .slick-track .product:hover span{
    background-color: var(--primary-color);
}*/
.carousel-item img{
    margin-top: 10px;
    margin-left: 30%;
    width: 400px;
}
.carousel-caption{
    font-family: monospace;
    font-size: 20em;
    color: var(--primary-color);
    text-align: center;
}

.special{
    width: 70%;
    height: 60px;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
}

 .text{
    font-size: 60px;
    font-family: var(--gugi);
    color: #ff686b;
    text-align: center;
    top: 15px;
}

/** icon*/

.con{
    text-decoration: none;
    color: #000;
}

/** About page*/
.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #fff; /* White */
    color: #555555;
  }